/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/* Hide scrollbars globally while keeping scrolling functionality */
// html {
//   /* For webkit browsers (Chrome, Safari, Edge) */
//   &::-webkit-scrollbar {
//     display: none;
//   }

//   /* For Firefox */
//   scrollbar-width: none;

//   /* For IE and Edge (older versions) */
//   -ms-overflow-style: none;
// }

// body {
//   /* For webkit browsers (Chrome, Safari, Edge) */
//   &::-webkit-scrollbar {
//     display: none;
//   }

//   /* For Firefox */
//   scrollbar-width: none;

//   /* For IE and Edge (older versions) */
//   -ms-overflow-style: none;
// }